#grid_cadastro > thead > tr th:nth-child(1) {
    width: 410px;
}

#grid_cadastro > thead > tr th:nth-child(2) {
    width: 210px;
}

#grid_cadastro > thead > tr th:nth-child(3) {
    width: 200px;
}

#grid_cadastro > thead > tr th:nth-child(4) {
    width: 110px;
}

#grid_cadastro > thead > tr th:nth-child(5) {
    width: 110px;
}

#grid_cadastro > thead > tr th:nth-child(6) {
    width: 110px;
}

#grid_cadastro > thead > tr th:nth-child(7) {
    width: 450px;
}

tr {
    page-break-inside: avoid;
}
